parameters:
    level: 5
    paths:
        - ../../../../src
        - ../../../../tests
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#^Have you forgotten to add \"\@config\" for the property #'
        - '#^Static property .+::\$.+ is never read, only written.#'
        # - '#^Class .+ referenced with incorrect case: .+\.$#'
